@import "tailwindcss";
@plugin "@iconify/tailwind4";

@plugin "./hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@source "./app/**/*.{js,jsx,ts,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: "Bricolage Grotesque", sans-serif;
}
@layer base {
  h1 {
    @apply font-heading text-5xl font-extrabold;
  }
  h2 {
    @apply font-heading text-4xl font-semibold;
  }
  h3 {
    @apply font-heading text-3xl font-semibold;
  }
  h4 {
    @apply font-heading text-2xl font-semibold;
  }
  h5 {
    @apply font-heading text-xl font-semibold;
  }
  h6 {
    @apply font-heading text-lg font-semibold;
  }
}

@utility touch-hitbox {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

html {
  scroll-behavior: smooth;
}

/* this fixes the pixilation of high res images in chromium based browsers when object fit is cover */
.overflow-clip-margin {
  overflow-clip-margin: unset;
}
